<div class="row">
  <div id="ribbits" class="small-8 column">
    <div class="panel">
      <div class="panel">
        <h2>Your Ribbit Profile</h2>
      </div>
      <div class="panel">
        <img src="<%= @student.avatar_url %>">
        <span class="name"><%= @student.name %></span> @<%= @student.username %>
        <ul class="inline-list">
          <li>XX Ribbits</li>
          <li>XX Followers</li>
          <li>XX Following</li>
        </ul>
      </div>
    </div>
   <div class="panel">
      <div class="panel">
       <h2>Your Ribbits</h2>
      </div>
      <div class="panel">
        <p>Ribbits coming . . .</p>
      </div>
    </div>
  </div>
  <div class="small-4 column panel">
    <div class="panel">
      <h2>Create a Ribbit</h2>
    </div>
    <div class="panel">
      <form>
          <textarea name="text"></textarea>
          <input type="submit" value="Ribbit!" class="button">
      </form>
    </div>
  </div>
</div>
