<!-- professor information -->
<div class="small-12 medium-6 column">
  <h1>Dr. Patricia Pulver</h1>
  <ul class="no-bullet">
    <li>Department of Education</li>
    <li>Keuka College</li>
    <li><a href="mailto:ppulver@keuka.edu">ppulver@keuka.edu</a></li>
  </ul>
    <h2>Office Hours</h2>
    <p>Please email to request appointment outside of office hours.</p>
  <ul>
    <li>Monday 1-3pm</li>
    <li>Tuesday 3-5pm</li>
    <li>Thursday 1-3pm</li>
  </ul>
<!-- end professor information -->
</div>
<!-- course information -->
<div class="small-12 medium-6 column">
  <h2>Current Courses</h2>
  <div class="row panel">
    <div class="small-6 column left">
      <h3>Course Name<br>
      <small>Course Number</small></h3>
    </div>
    <div class="small-6 column right">
      <ul class="no-bullet text-right">
        <li>meeting times</li>
        <li>meeting place</li>
      </ul>
    </div>
  </div>
<!-- end course information -->
</div>
