<h1>Dr. Patricia Pulver</h1>
<ul class="no-bullet">
<li>Deparment of Education</li>
<li>Keuka College</li>
<li><a href="mailto:ppulver@keuka.edu">ppulver@keuka.edu</a></li>
</ul>
<ul class="no-bullet">
  <li><h3>Office Hours:</h3></li>
</ul>
