.header-area {
  min-height: 160px;
  margin: 0;
  padding: 0;
  background-color: #00C748;
}

nav {
  min-height: 120px;
  color: #ffffff;
  background-color: #9bddff;
}

nav a {
  color: #ffffff;
}
